<!DOCTYPE html>
<html class="dark">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title inertia>Vuedo</title>

  @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
  @inertiaHead()
</head>

<body class="bg-white dark:bg-black">
  @inertia()
</body>

</html>
